name: Build Project
permissions:
  contents: read
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["*"]
jobs:
  build-docker-images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Build all Dockerfiles
        env:
          IMAGE_NAME: ${{ github.repository_owner }}/github-test
        run: |
          for file in $(find dockerfiles -type f -name 'Dockerfile*'); do
              filename=$(basename "$file")
              if [ "$filename" = "Dockerfile" ]; then
                tag="default"
              else
                tag="${filename#Dockerfile.}"
              fi
              docker build -f "$file" -t "$IMAGE_NAME:$tag" "$(dirname "$file")"
          done
  build:
    runs-on: ubuntu-latest
    needs: build-docker-images
    steps:
      - uses: actions/checkout@v6
      - name: Build
        run: make build
      - name: Test
        run: make test
