name: Build Project
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["*"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: make docker-build
      - name: Test
        run: make docker-test
